/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0; /* Remove default body margin */
}


    .navbar {
        background-color: rgba(204, 204, 204, 0.5); /* Transparent background */
    padding: 15px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 1000;
    margin-bottom: 20px; /* Add margin-bottom for the gap */
    }
    

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; /* Adjust padding */
    display: flex;
    justify-content: space-between; /* Distribute items evenly */
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.wifi-logo {
    display: flex;
    align-items: center;
    color: #FFFFFF; /* White color */
    font-size: 24px;
    margin-right: 5px;
}

.wifi {
    color: #333333; /* Dark gray color */
    font-size: 24px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Attractive font */
}

.tagline {
    color: #666666; /* Medium gray color */
    font-size: 14px;
    font-style: italic;
    margin-left: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Attractive font */
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    color: #333333; /* Dark gray color */
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #000000; /* Black color */
}

.order-now-btn {
    background-color: #2c3e50; /* Dark blue color */
    color: #ffffff; /* White color */
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Attractive font */
    animation: blink 1.5s infinite; /* Apply blinking animation */
}
/* Define the blinking animation */
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.menu-toggle {
    display: none;
}

/* Slider styles */
.slider-container {
    position: relative;
    text-align: center; /* Center align the images */
}

.slider {
    display: inline-block; /* Make the slider container inline block */
}

.slide {
    display: block;
    margin: 0 auto;
    max-width: 50%; /* Half of the container width */
    height: auto;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1000;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}
